@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
--dark:#151515;    
--colorprimary: #1e192c;
--fontprimary: #fdfdfe;
--fontsecundary: #23c771;   
--fontsecundary2: #e5e044;
--shadow: 0 1px 3px rgba(0, 0 , 0, 0.1);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--colorprimary);
   
    
}

.headerconteiner {
display: flex;
width: 100%;
height: 44px ;
background-color: var(--dark);
color: var(--fontprimary);
}

.LogoImage {
    margin-top: -23px;
    margin-left: 14px;
    width: 84px;
    height:95px ;
    
}



.conteinermenu {
margin-left: 69%;
margin-top: 9px;
}

.conteinermenu1{
width: 29px;
height: 3px;
margin-top: 5px;
margin-left: 2px;
background: var(--fontprimary);
background: var(--fontsecundary);
}

.conteinermenu2{
    width: 29px;
    height: 3px;
    margin-top: 5px;
    margin-left: 2px;
    background: var(--fontprimary); 
}

.conteinermenu3{
    width: 29px;
    height: 3px;
    margin-top: 5px;
    margin-left: 2px;
    background: var(--fontsecundary);
}

.conteinetho {
    font-size: 155%;
    margin-top: 11%;
    margin-left:5%;
    font-family: 'Roboto Condensed', sans-serif; 
    color: var(--fontprimary);

   
}


h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-decoration: wavy;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#name , #email, #tel , #password {
    margin-top: 6%;
    width: 91%;
    border: none;
    border-bottom:solid  #2c2540 1px ;
    background: var(--colorprimary);
   text-decoration: none;
   outline: 0;
   font-size: large;
   color: #fdfdfe; 
}

#name:hover , #email:hover, #tel:hover , #password:hover {
    border-bottom:solid #23c771  1px ; 
}

#name::placeholder , #email::placeholder, #tel::placeholder, #password::placeholder {
    color: #fdfdfe;
    
}

.icone{
    width: 91%;
    color: #23c771;
    height: 15%;
}

button {
    margin-top: 8%;
    width: 61%; 
    padding: 1%;
    background: #3a3741;
    border-radius: 1cm;
    border: solid 1px #3a3741;
    color: #23c771;
    font-family: 'Roboto Condensed', sans-serif; 

    cursor: pointer;
}

article {
    margin-top: 8%;
    font-size: 55%;
    font-weight: 44;
    text-align: center;
    color: #fdfdfe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conta {
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 77%;
    font-weight: 66;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fdfdfe;
}



@media only screen and (min-width: 1200px) {
    .conteinermenu {
        margin-left: 88%;
        margin-top: 9px;
        }
}